VITE_SUPABASE_URL=https://prrkxabfhxfzapegcdah.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBycmt4YWJmaHhmemFwZWdjZGFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NTg5NjgsImV4cCI6MjA4OTQzNDk2OH0.hIkLQW7CNlPEoRS-BXV68FhiUSBQxl60tdQSnQd8jFc